<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.smartcommuter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/appDisplayName" android:description="@string/appDesc" android:theme="@style/appTheme" >
        <activity
            android:name=".controllers.screens.HomeActivity"
            android:label="@string/appDisplayName"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers.screens.FavouriteStationsActivity"></activity>
        <activity android:name=".controllers.screens.InfoActivity"></activity>
        <activity android:name=".controllers.screens.NearbyStationsActivity"></activity>
        <activity android:name=".controllers.screens.StationActivity"></activity>
        <activity android:name=".controllers.screens.SearchActivity"></activity>
        <activity android:name=".controllers.screens.SettingsActivity"></activity>
        
        <activity android:name=".controllers.SmartActivity" android:screenOrientation="portrait" ></activity>
        <activity android:name=".controllers.SmartMapActivity" android:screenOrientation="portrait" ></activity>
        <activity android:name=".controllers.SmartTabContentActivity" android:screenOrientation="portrait" ></activity>
        
        <activity android:name=".controllers.tabcontents.StationDirectionsActivity"></activity>
        <activity android:name=".controllers.tabcontents.StationRealtimeActivity"></activity>
        <activity android:name=".controllers.tabcontents.NearbyStationsListActivity"></activity>
        
        <activity android:name=".controllers.maps.StationLocationActivity"></activity>
        <activity android:name=".controllers.maps.NearbyStationsMapActivity"></activity>
        
        <uses-library android:name="com.google.android.maps" />
        
</application>

</manifest>